<div class="container-fluid" id="topContainer">
    <div class="row" >

        <div class="col-md-6 col-md-offset-3" id="topRow">
            <h1 class="marginTop">SAWA Market App</h1>
            <p class="lead"> This is why should download this fantastic app</p>
            <p>Some more information about the app. You can go into a little
                more detail here if you want to.</p>   
            
            <p class="bold marginTop">Interested? Join our mailing list!</p>
             
            <form class="marginTop">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" style="margin-right:5px;"/>
                    </div>
            </form>
             
            <input type="submit" class="btn btn-success btn-lg marginTop" value="Submit"/>     
        </div>
        
    </div> 
  

</div>
